*{
	margin: 0;
	padding: 0;
	
}

body{

font-family: 'Poppins', sans-serif;

}

a{text-decoration:none ;

}


/*header section design*/


.header{
	width: 100%;
	border-bottom: 2px solid #eee;
	/*2px dash #eee; or 2px dotted #607d8b*/
	position: fixed;
	background-color: white;
	top: 0 ;	
	/**header e position fixed kore dile
	margin,padding kaj korena ... 
	that means space nite parena ...*/

}
.container{
	width: 1140px;
	margin: auto;
	/*this is not only auto..it means margin: 0 auto*/
}

.navbar{
	display: flex;
	justify-content: space-between;
}
.menu ul li{
	list-style: none;
	display: inline-block;
	margin-left:18px ;
}
.menu ul li a{
    line-height: 62px;
    font-weight: 300;
    color: black;
    display: inline-block;
    transition: 0.6s;
}
.menu ul li a:hover{
	color: #008aff;
	display: inline-block;
	transform: scale(1.2);
	transition: 0.6s;
}


/*banner section design*/


.banner{
	width: 100%;
	margin-top: 100px;
	margin-bottom: 60px;
	text-align: center;
}
.banner-content h1{
	font-size: 42px;
	color: #3f3d56;
	line-height: 1.3;
	margin-bottom: 16px;
	font-weight: 600;

}
.banner-content h1 span{
	color: #008aff;
}
.banner-content p{
	font-weight: 300;
	margin-bottom: 16px;
}


/*project section design*/


.project{
	width: 100%;
	margin-bottom: 75px;
}

.project-content{
	display: flex;
	/*justify-content: center;*/
}

.project-content{
	flex-basis: 50%;

}

.left,.right{
	flex-basis: 50%;
}

.left{
	text-align: right;	
}
.left h2{
	font-size: 42px;
	color: tomato;
}
.left p{
	font-weight: 300;
	font-size: 16px;

}
.right h2{
	color: #3f3d56;
	font-size: 42px;
	line-height:1.2 ;
	/*#line-height always
	1.2,1.3.1.4 erokom use kora better
	(cause pixel diye rakhle seta fixed
	hoeye thake) & point(.)use kole 
	screen size boro hole line height 
	screen size onujayi boro kore dekhabe,
	screen choto hole line height choto kore dekhabe*/
}
.left{
	margin-right: 16px;
}
.right{
	margin-left: 16px;
}

/*majhkhaner space eqal korar jonno 
duipash thekei 16px space newa hoeyeche*/


/*sevice section design*/

.services{
	width: 100%;
	margin-bottom: 60px;
}
.s-content{
	display: grid;
	grid-template-columns: auto auto auto ;
	column-gap: 22px;
}

.bg-1{
	background-color: #fdebed ;
	/*box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, 
	rgba(0, 0, 0, 0.09) 0px 32px 16px;*/
	
}
.bg-1:hover{
	background-color: white;
	box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, 
	rgba(0, 0, 0, 0.09) 0px 32px 16px;
	cursor: pointer;
}
.bg-2{
	background-color: #ebf9f4;
	/*box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, 
	rgba(0, 0, 0, 0.09) 0px 32px 16px;*/
}
.bg-2:hover{
	background-color: white;
	box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, 
	rgba(0, 0, 0, 0.09) 0px 32px 16px;
	cursor: pointer;
}
.bg-3{
	background-color: #fff7e8;
	/*box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, 
	rgba(0, 0, 0, 0.09) 0px 32px 16px;*/
	
}
.bg-3:hover{
	background-color: white;
	box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, 
	rgba(0, 0, 0, 0.09) 0px 32px 16px;
	cursor: pointer;
}	
/*.bg-1{
	background-color: #fdebed ;
	
}
.bg-1:hover{
	box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, 
	rgba(0, 0, 0, 0.09) 0px 32px 16px;

}
.bg-2{
	background-color: #ebf9f4;
	box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, 
	rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.bg-3{
	background-color: #fff7e8;
	
}
.bg-3:hover{
	background-color: white;
	box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, 
	rgba(0, 0, 0, 0.09) 0px 32px 16px;*/
	
/*class name likhe :er sathe hover
na likhe jodi : er pore ekta space
diye hover dewa hoy tahole ta kaj korbena*/


.s-item{
	padding: 40px 30px;
}
.s-item h4{
	margin-bottom: 5px;
}

/*footer section design*/

.footer{
	width: 100%;
	background-color:#008aff ;
	text-align: center;
	padding: 20px 0px;
}
.footer p{
	color: whitesmoke;
	font-weight: 300;
	font-size: 14px;
}
.footer span{
	font-weight: bold;
	text-transform: uppercase;
	font-size: 16px;
	color: bright;
}

.footer i{
	height: 40px;
    width: 40px;
    background-color: white;
    line-height: 40px;
    border-radius: 100%;
    font-size: 16px;
    margin:10px 6px ;
    transition: 0.5s;
}
.footer i:hover{
	background-color: darkorange;
	transition: 0.5s;
	/*transform: scale(1.3);*/
	transform: rotate(360deg);
	/*u can use anyone of this*/

}


